<h3> Beer

<h5> The aim is to explore and analyse data sets provided and feature engineer them in order to obtain reliable predictions

In [1]:
#Import initial packages
import pandas as pd
import numpy as np

<h4> 1. Load and Explore Train Dataset

In [2]:
df = pd.read_csv('../data/raw/beer_reviews.csv')

In [3]:
df.shape

(1586614, 13)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1586614 entries, 0 to 1586613
Data columns (total 13 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   brewery_id          1586614 non-null  int64
 1   brewery_name        1586599 non-null  object
 2   review_time         1586614 non-null  int64
 3   review_overall      1586614 non-null  float64
 4   review_aroma        1586614 non-null  float64
 5   review_appearance   1586614 non-null  float64
 6   review_profilename  1586266 non-null  object
 7   beer_style          1586614 non-null  object
 8   review_palate       1586614 non-null  float64
 9   review_taste        1586614 non-null  float64
 10  beer_name           1586614 non-null  object
 11  beer_abv            1518829 non-null  float64
 12  beer_beerid         1586614 non-null  int64
dtypes: float64(6), int64(3), object(4)
memory usage: 157.4+ MB

In [5]:
df.describe()

,brewery_id,review_time,review_overall,review_aroma,review_appearance,review_palate,review_taste,beer_abv,beer_beerid
count,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.518829e+06,1.586614e+06
mean,3.130099e+03,1.224089e+09,3.815581e+00,3.735636e+00,3.841642e+00,3.743701e+00,3.792860e+00,7.042387e+00,2.171279e+04
std,5.578104e+03,7.654427e+07,7.206219e-01,6.976167e-01,6.160928e-01,6.822184e-01,7.319696e-01,2.322526e+00,2.181834e+04
min,1.000000e+00,8.406720e+08,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e-02,3.000000e+00
25%,1.430000e+02,1.173224e+09,3.500000e+00,3.500000e+00,3.500000e+00,3.500000e+00,3.500000e+00,5.200000e+00,1.717000e+03
50%,4.290000e+02,1.239203e+09,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,6.500000e+00,1.390600e+04
75%,2.372000e+03,1.288568e+09,4.500000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.500000e+00,8.500000e+00,3.944100e+04
max,2.800300e+04,1.326285e+09,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.770000e+01,7.731700e+04

In [6]:
df.head()

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883

In [7]:
item_counts = df["beer_style"].value_counts()
print(item_counts)

American IPA                        117586
American Double / Imperial IPA       85977
American Pale Ale (APA)              63469
Russian Imperial Stout               54129
American Double / Imperial Stout     50705
                                     ...
Gose                                   686
Faro                                   609
Roggenbier                             466
Kvass                                  297
Happoshu                               241
Name: beer_style, Length: 104, dtype: int64

<h4> 2. Clean Dataset

In [8]:
#Removing columns
cols = ["brewery_name","review_time","beer_name","beer_beerid", "review_profilename","brewery_id"]

In [9]:
df_cleaned = df.copy()
df_cleaned.drop(cols, axis=1, inplace=True)

In [10]:
df_cleaned.head()

,review_overall,review_aroma,review_appearance,beer_style,review_palate,review_taste,beer_abv
0,1.5,2.0,2.5,Hefeweizen,1.5,1.5,5.0
1,3.0,2.5,3.0,English Strong Ale,3.0,3.0,6.2
2,3.0,2.5,3.0,Foreign / Export Stout,3.0,3.0,6.5
3,3.0,3.0,3.5,German Pilsener,2.5,3.0,5.0
4,4.0,4.5,4.0,American Double / Imperial IPA,4.0,4.5,7.7

In [11]:
# Standarize Numerical Features
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder

In [12]:
le = LabelEncoder()

In [13]:

df_cleaned["beer_style"] = le.fit_transform(df_cleaned["beer_style"])

In [14]:
# Scale numerical features
sc = StandardScaler()

In [15]:
num_cols = ["review_overall","review_aroma","review_appearance","review_palate","review_taste","beer_abv"]

In [16]:
df_cleaned[num_cols] = sc.fit_transform(df_cleaned[num_cols])

In [17]:
df_cleaned.head()

,review_overall,review_aroma,review_appearance,beer_style,review_palate,review_taste,beer_abv
0,-3.213310,-2.487952,-2.177663,65,-3.288833,-3.132454,-0.879382
1,-1.131774,-1.771225,-1.366096,51,-1.090123,-1.083188,-0.362703
2,-1.131774,-1.771225,-1.366096,59,-1.090123,-1.083188,-0.233533
3,-1.131774,-1.054499,-0.554530,61,-1.823026,-1.083188,-0.879382
4,0.255917,1.095679,0.257037,9,0.375684,0.966078,0.283146

In [18]:
print(df_cleaned.max())

review_overall         1.643608
review_aroma           1.812405
review_appearance      1.880169
beer_style           103.000000
review_palate          1.841491
review_taste           1.649167
beer_abv              21.811437
dtype: float64

In [19]:
#Select a random sample used for training

#1 shuffle df
result = df_cleaned.sample(frac=1, random_state = 7)

#2 get the first 10 by beer_style
result = result.groupby("beer_style").head(10)

#3 sort by beer_style
df_sample = result.sort_values("beer_style")

In [20]:
df_sample.reset_index(drop=True,inplace=True)

In [21]:
target = df_sample.pop("beer_style")

In [22]:
#Spliting data into training and testing sets with 80/20 ratio

In [23]:
#Import subset function for getting training and evaluate
from src.data.sets import split_set

In [24]:
X_train, X_val, X_test, y_train, y_val, y_test = split_set(df_sample, target)

In [25]:
#Saving sets into ..data/processed folder

In [26]:
#Import saving function for saving sets
from src.data.sets import save_sets

In [27]:
save_sets(X_train=X_train, X_val=X_val, y_train=y_train, y_val=y_val, X_test=X_test, y_test=y_test)

In [28]:
#Import class from src/models/pytorch and convert all sets to PytorchDatasets
from src.models.pytorch import PytorchDataset

In [29]:
train_dataset = PytorchDataset(X=X_train, y=y_train)
val_dataset = PytorchDataset(X=X_val, y=y_val)
test_dataset = PytorchDataset(X=X_test, y=y_test)

<h4> 4.0 Baseline Model

In [30]:
#import null model from src.models.null

In [31]:
#from src.models.null import NullModel

In [32]:
X_train.shape[1]

6

<h4> 5.0 Define Architecture

In [33]:
#Initiate PytorchMulticlass with the correct no of input feature
from src.models.pytorch import PytorchMultiClass

In [34]:
model = PytorchMultiClass(num_features=X_train.shape[1])

In [35]:
# Import get_device() from src.models.pytorch and set model to use de device available
from src.models.pytorch import get_device
device = get_device()
model.to(device)

PytorchMultiClass(
  (layer_1): Linear(in_features=6, out_features=34, bias=True)
  (layer_out): Linear(in_features=34, out_features=104, bias=True)
)

<h4> Train Model

In [36]:
#Import torch

import torch
import torch.nn as nn
import torch.nn.functional as F
import torch.optim.lr_scheduler as op

In [37]:
criterion = nn.CrossEntropyLoss()

In [38]:
#Initiate a torch.optim.Adam() optimizer with the model's parameters and 0.1 as learning rate saving it 
#into a variable called optimizer

In [39]:
optimizer = torch.optim.Adam(model.parameters(), lr= 0.01)

In [40]:
# Create 2 variables N_EPOCHS and BATCH_SIZE 
N_EPOCHS = 10
BATCH_SIZE = 32

<h5> Create a loop that ill iterate through the number of epochs and will train the model with the training set and asses the performance on the validation sets and print the results

In [41]:
scheduler = op.StepLR(optimizer, 1, gamma=0.1)

In [42]:
from src.models.pytorch import train_classification, test_classification

In [43]:
for epoch in range(N_EPOCHS):
    train_loss, train_acc = train_classification(train_dataset, model=model, criterion= criterion, optimizer=optimizer, batch_size=BATCH_SIZE, device=device, scheduler=scheduler )
    valid_loss, valid_acc = test_classification(val_dataset, model=model, criterion= criterion, batch_size=BATCH_SIZE, device=device )
    print(f'Epoch: {epoch}')
    print(f'\t(train)\t|\tloss: {train_loss: .4f}\t|\tAcc: {train_acc * 100:.3f}%')
    print(f'\t(valid)\t|\tloss: {valid_loss: .4f}\t|\tAcc: {valid_acc * 100:.3f}%')

Epoch: 0
	(train)	|	loss:  nan	|	Acc: 1.053%
	(valid)	|	loss:  nan	|	Acc: 1.198%
Epoch: 1
	(train)	|	loss:  nan	|	Acc: 0.902%
	(valid)	|	loss:  nan	|	Acc: 1.198%
Epoch: 2
	(train)	|	loss:  nan	|	Acc: 0.902%
	(valid)	|	loss:  nan	|	Acc: 1.198%
Epoch: 3
	(train)	|	loss:  nan	|	Acc: 0.902%
	(valid)	|	loss:  nan	|	Acc: 1.198%
Epoch: 4
	(train)	|	loss:  nan	|	Acc: 0.902%
	(valid)	|	loss:  nan	|	Acc: 1.198%
Epoch: 5
	(train)	|	loss:  nan	|	Acc: 0.902%
	(valid)	|	loss:  nan	|	Acc: 1.198%
Epoch: 6
	(train)	|	loss:  nan	|	Acc: 0.902%
	(valid)	|	loss:  nan	|	Acc: 1.198%
Epoch: 7
	(train)	|	loss:  nan	|	Acc: 0.902%
	(valid)	|	loss:  nan	|	Acc: 1.198%
Epoch: 8
	(train)	|	loss:  nan	|	Acc: 0.902%
	(valid)	|	loss:  nan	|	Acc: 1.198%
Epoch: 9
	(train)	|	loss:  nan	|	Acc: 0.902%
	(valid)	|	loss:  nan	|	Acc: 1.198%

<h4> Save model into models folder

In [44]:
torch.save(model, "../models/pytorch_multi_class_beer")

In [45]:
#Asses model performance on testing set and print results

In [46]:
test_loss, test_acc = test_classification(test_dataset, model=model, criterion= criterion, batch_size=BATCH_SIZE, device=device )
print(f'\t(test)\t|\tloss: {test_loss: .4f}\t|\tAccuracy: {test_acc * 100:.3f}%')

	(test)	|	loss:  nan	|	Accuracy: 0.962%

In [47]:
#Import Datset and DataLoader
from torch.utils.data import Dataset, DataLoader

In [48]:
#Import Pytorch Dataset
from src.models.pytorch import PytorchDataset

In [49]:
#optimizer = torch.optim.Adam(model.parameters(), lr = 0.001)

In [50]:
# Scaling sets with scaler model saved for the baseline

In [51]:
#import joblib
#scaler = joblib.load('../models/scaler.joblib')